[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.0"
djangorestframework = "*"
tzdata = "*"
gunicorn = "*"
environs = {extras = ["django"], version = "*"}
"backports.zoneinfo" = "*"
whitenoise = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
